.dashboard-main {
  text-align: center;
  color: #2c3e50;
  padding-left: 100px;
}

.charts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding-left: 200px;
}

.chart {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
  background: #1e2a38;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.report-button {
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 12px 20px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.report-button:hover {
  background-color: darkorange;
  padding-left: 100px;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
}

.dashboard-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 260px;
}

.dashboard-main h1 {
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  color: white;
  padding-left: 100px;
}

.dashboard-main p {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 100px;
  color: white;
}
